%h1 Listing questions

%table
  %tr
    %th Scenario
    %th
    %th
    %th

  - @questions.each do |question|
    %tr{:class => cycle('list_line_odd','list_line_even')}
      %td{:class => 'list_description'}
        %dl
          %dt= question.title
          %dd= truncate(strip_tags(question.scenario), length: 80)
          %dd Answer: #{question.answer}
          %dd Level: #{question.level}
      %td{:class => 'list_action'}= link_to 'Show', question
      %td{:class => 'list_action'}= link_to 'Edit', edit_question_path(question)
      %td{:class => 'list_action'}= link_to 'Destroy', question, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Question', new_question_path
