%h1 Listing game_moves

%table
  %tr
    %th Description
    %th Code
    %th Game type
    %th
    %th
    %th

  - @game_moves.each do |game_move|
    %tr
      %td= game_move.description
      %td= game_move.code
      %td= game_move.game_type_id
      %td= link_to 'Show', game_move
      %td= link_to 'Edit', edit_game_move_path(game_move)
      %td= link_to 'Destroy', game_move, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Game move', new_game_move_path
