%p#notice= notice

%p
  %b Game type:
  = @game_move.game_type_id
%p
  %b Description:
  = @game_move.description
%p
  %b Code:
  = @game_move.code

= link_to 'Edit', edit_game_move_path(@game_move)
\|
= link_to 'Back', game_moves_path
