!!!
%html
  %head
    %title Team Project
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body{:class => controller.controller_name}
    #wrapper
      #header
        /Header
        = link_to image_tag('derby.jpg', :class => 'logo'), join_path
        %header
          %h1 The E-Learning Challenge

      #navbar 
        /Add user login log out tool bar
        - if user_signed_in? && controller.controller_name != "welcome"
          = link_to "Edit Profile", edit_user_registration_path, :class => 'navbar-link' |
          = link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'

      /Add Notifications to above body
      - if notice
        %p#notice= notice
      - if alert
        %p#alert= alert

      #yield
        /Main Content
        = yield
      /Footer
      #footer
        #credits
          %b University Of Derby - BSc Computer Forensic Investigation
          %br Ralph Vickery, Matthew Newington, Martin Rasuly
